@import "tailwindcss";

@theme {
  --color-primary: var(--color-indigo-900);
  --color-primary-light: var(--color-indigo-700);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

input,
button {
  border-radius: 0.5em;
  transition-duration: 200ms;
}

input:focus {
  @apply outline-primary-light;
}
