@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

input,
button {
  border-radius: 0.5em;
  transition-duration: 200ms;
}

input:focus {
  @apply outline-violet-800;
}
